@font-face {
    font-family: 'ABCAsfaltTrial-Regular';
    src: url('fonts/ABCAsfaltTrial-Regular.otf') format('opentype');
    /* Add more src lines if you have multiple font formats */
}

@font-face {
    font-family: 'ABCOraclePlusVariable-Trial';
    src: url('fonts/ABCOraclePlusVariable-Trial.ttf') format('truetype');
    /* Add more src lines if you have multiple font formats */
}

@font-face {
    font-family: 'CivilitateTrialV0.2-Hairline';
    src: url('fonts/CivilitateTrialV0.2-Hairline.otf') format('opentype');
    /* Add more src lines if you have multiple font formats */
}

:root {
    /* Happy mode */
    --bg-color-happy: #FFE55F;
    /*--text-color-happy: #383838;*/
  
    /* Lucky mode */
    --bg-color-lucky: #45EF6A;
  
    /* Calm mode */
    --bg-color-calm: #45E5EF;
  
    /* Cool mode */
    --bg-color-cool: #C67EDF;
  
    /* Romantic mode */
    --bg-color-romantic: #EF45A1;

    --bg-grey: #f2f2f2;
}

.ABCORACLEsm , .message, .ABCORACLElg-mobile{
    font-family: 'ABCOraclePlusVariable-Trial';
    font-family: ABC Oracle Plus Variable Unlicensed Trial;
    font-size: 14px;
    font-style: light;
    font-weight: 300;
    line-height: 20px;
}

.ABCORACLElg{
    font-family: 'ABCOraclePlusVariable-Trial';
    font-family: ABC Oracle Plus Variable Unlicensed Trial;
    font-size: 18px;
    font-style: normal;
    line-height: 20px;
    font-weight: 300;
}

.ABCORACLExlg, .ABCORACLExlg-cal{
    font-family: 'ABCOraclePlusVariable-Trial';
    font-family: 'ABCOraclePlusVariable-Trial';
    font-family: ABC Oracle Plus Variable Unlicensed Trial;
    font-weight: 200;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
}

.neutral{
    background-color: black;
}

/* INDEX PAGE */
/* INDEX PAGE */
body{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
    background-color: #F2F2F2;
    overflow-x: hidden !important;
}

.index-popup{
    background-color: #F2F2F2;
    width: 722px;
    height: 144px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.black-bg{

    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.popup-text{
    text-align: center;
    font-family: 'ABCOraclePlusVariable-Trial';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.popup-button-container{
    text-align: center;
}

.popup-happy, .popup-lucky, .popup-calm, .popup-cool, .popup-romantic{
    border-radius: 20px;
    border: 1px solid black;
    color: black;
    padding: 0px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    font-family: 'ABCOraclePlusVariable-Trial', sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    height: 28px;
    margin-right: 3px;
    background: transparent;
}

.popup-happy:hover{
    background: linear-gradient(180deg, rgba(255, 229, 95, 0) 22.92%, #FFE55F 100%);
}

.popup-lucky:hover{
    background: linear-gradient(180deg, rgba(69, 239, 106, 0) 18.23%, #45EF6A 100%);
}

.popup-calm:hover{
    background: linear-gradient(180deg, rgba(69, 229, 239, 0) 15.62%, #45E5EF 100%);
}

.popup-cool:hover{
    background: linear-gradient(180deg, rgba(198, 126, 223, 0) 16.67%, #C67EDF 100%)
}

.popup-romantic:hover{
    background: linear-gradient(180deg, rgba(239, 69, 161, 0) 21.35%, #EF45A1 100%);
}

@media (max-width: 819px) {
    .popup-text{
        margin-top: 50px;
        font-size: 22px !important;
    }
    .index-popup{
        width: 384px;
        height: 424px;
        flex-direction: column;
        margin-top: 0px !important;
    }
    .popup-button-container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body > div > div > button.popup-happy, body > div > div > button.popup-lucky, body > div > div > button.popup-calm, body > div > div > button.popup-cool, body > div > div > button.popup-romantic{
        width: 179px;
        height: 39px;
        margin: 0;
        margin-bottom: 19px !important;
        padding: 0px 0px;
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .popup-text{
        margin-top: 30px;
        font-size: 18px !important;
    }
    .index-popup{
        width: 350px;
        height: 388px;
        flex-direction: column;
        margin-top: 0px !important;
    }
    .popup-button-container{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body > div > div > button.popup-happy, body > div > div > button.popup-lucky, body > div > div > button.popup-calm, body > div > div > button.popup-cool, body > div > div > button.popup-romantic{
        width: 179px;
        height: 39px;
        margin: 0;
        margin-bottom: 19px !important;
        padding: 0px 0px;
        font-size: 18px;
    }
}

/*CODE FOR THE HEADER*/
.header-menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding-top: 10px;
    text-decoration: none;
    height: 141px;
    margin-bottom: 30px;
}

.header-item {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-top: -30px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: BLACK !important;
    font-family: 'ABCOraclePlusVariable-Trial';
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.nav-item:first-child {
    margin-right: 100px;
}

/*DIFFERENT HEADER COLORS*/
/*DIFFERENT HEADER COLORS*/
.header-menu.happy{
    background: linear-gradient(180deg, #FFE55F 0%, rgba(242, 242, 242, 0.00) 100%);
}

.header-menu.lucky {
    background: linear-gradient(180deg, #45EF6A 0%, rgba(69, 239, 106, 0) 100%);
}
  
  .header-menu.calm {
    background: linear-gradient(180deg, #45E5EF 0%, rgba(69, 229, 239, 0) 100%);
}
  
  .header-menu.cool {
    background: linear-gradient(180deg, #C67EDF 0%, rgba(198, 126, 223, 0) 100%)
}
  
  .header-menu.romantic {
    background: linear-gradient(180deg, #EF49A2 0%, rgba(242, 242, 242, 0.00) 100%);
}

.page-title{
    font-family: 'CivilitateTrialV0.2-Hairline';
    font-size: 170.823px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    margin-top: -115px;
    z-index: 10;
    position: relative;
}

.page-footer{
    position: relative;
    z-index: 10;
    font-family: 'CivilitateTrialV0.2-Hairline';
    font-size: 130.972px;
    font-style: normal;
    font-weight: 100;
    /*line-height: 0px;*/
    text-align: center;
    margin-top: -50px;
}

.home-tagline{
    font-family: 'ABCOraclePlusVariable-Trial';
    text-align: center;
    font-family: ABC Oracle Plus Variable Unlicensed Trial;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;

    height: 48px; 
    margin-top: -100px;
    margin-bottom: -100px;
}

.center-tagline{
    margin-top: 160px;
}

.home-tagline-bold-events, .home-tagline-bold, .home-tagline-bold2, .name, .email, .send, .send-box, .home-tagline-bold-cocktails, .home-tagline-bold-special, .home-tagline-bold-mobile{
    font-family: 'ABCAsfaltTrial-Regular';
    font-size: 90.527px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.ABCAsfaltTrial-Regular{
    font-family: 'ABCAsfaltTrial-Regular';
    font-size: 90.527px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
}

.event-list{
    position: relative;
    margin-top: -35px;

    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 200px;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.event1, .event2, .event3, .event4, .event5, .event-more{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.event-link{
    display: flex;
    margin-top: -100px;
}

.hand{
    margin-top: 15px;
}

.event-more{
    flex-direction: row;
}

.moons{
    position: absolute;
}

.event-name{
    text-align: center;
    background-color: #45E5EF;
}

div.event1 > p{
    margin-right: 60px;
}

div.event2 > p{
    margin-left: 10px;
}

div.event4 > p{
    margin-right: 10px;
}

div.event5 > p{
    margin-left: 60px;
}

/*MOON HOVER EFFECTS*/
.event1:hover .moons {
    /* Styles for the SVG on hover */
    fill: black; /* Change the fill color or other SVG properties */
}

.event2:hover .ABCORACLEsm {
    /* Styles for the SVG on hover */
    color: white;
    z-index: 1;
}
.event2:hover .moons {
    /* Styles for the SVG on hover */
    fill: black; /* Change the fill color or other SVG properties */
}

.event3:hover .ABCORACLEsm {
    /* Styles for the SVG on hover */
    color: white;
    z-index: 1;
}
.event3:hover .moons {
    /* Styles for the SVG on hover */
    fill: black; /* Change the fill color or other SVG properties */
}

.event4:hover .ABCORACLEsm {
    /* Styles for the SVG on hover */
    color: white;
    z-index: 1;
}
.event4:hover .moons {
    /* Styles for the SVG on hover */
    fill: black; /* Change the fill color or other SVG properties */
}

.event5:hover .moons {
    /* Styles for the SVG on hover */
    fill: black; /* Change the fill color or other SVG properties */
}

.home-drink{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.home-tagline-bold2{
    margin: 0;
    margin-top: 90px;
    margin-bottom: -30px;
}

body > div.center-tagline2 > div > p.home-tagline-bold{
    margin: 0;
    line-height: 0;
}

.thirteen{
    font-family: "ABCOraclePlusVariable-Trial";
    margin-right: -600px;
    margin-top: 80px;
    position:absolute;
    float: right;
    justify-content: right;
    align-items:flex-end;
}

.thirteen-drinks{
    font-family: "ABCOraclePlusVariable-Trial";
    margin-top: 60px;
    margin-right: 20px;
}

.bjork{
    width: 351px;
    height: 404px;
}

.bjork-div{
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: baseline;
}

.drinks-more{
    margin-top: 20px;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
}

.hand2{
    margin-top: 12px;
}

.form-copy{
    text-align: center;
    justify-content: center;
    align-items: baseline;
}

.form-contact-info{
    position: relative;
    justify-content:center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: -110px;
}

/*STLYING FOR THE FORM*/
/*STLYING FOR THE FORM*/
/*STLYING FOR THE FORM*/

.form-div{
    display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align:end;
    margin-top: 50px;
    width: 590px;
}

.form-fields{
    display: flex;
    flex-direction: column;
}

  .contact-form input {
    outline: none;
    border: none;
    background: transparent;
  }
  
  .contact-form input::placeholder {
    color: black;
  }
  
  .signup-box a {
    color: black;
  }

.name, .email, .message{
    text-align: left;
    border-bottom: 1px solid black !important;
    padding-left: 10px;
}

.send, .send-box{
    text-align: right;
    padding-right: 10px;
    background-color: #000;
}

#send{
    color: white !important;
}

a{
    color: black !important;
    text-decoration: none;
    margin-bottom: -100px;
}

.message{
    padding-bottom: 196px;
}

/*IMPORTANT CENTER SPACING, TRY USING FOR THE MOON*/
/*SPACE BETWEEN NOT USED */
.gifs{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif1, .gif2, .gif3, .gif4{
    margin-right: 10px;
}

.gif1{
    width: 265.79px;
    height: 47.635px;
}
.gif2{
    width: 287.191px;
    height: 47.635px;
}
.gif3{
    width: 169.83px;
    height: 47.635px;
}
.gif4{
    width: 225.507px;
    height: 47.635px;
}
.gif5{
    width: 389.613px;
    height: 47.365px;
}

/*FOOTER*/
/*FOOTER*/
/*FOOTER*/

footer {
    position: relative !important;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    float: inline-start;
    padding-bottom: 70px;
}

.address, .mailing-list, .date , .change-mood, .change-mood-mobile{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 0;
    margin-right: 93px;
}

body{
    overflow-x: hidden;
}
.footer-color{
    z-index: 1;
    position: relative;
    margin-top: -809px;
    padding-bottom: 30px;
    height: 709px;
    line-height: 50px;
}

header {
    position: relative;
}

footer, .gifs, .form-div{
    position: relative;
    z-index: 10;
}
/*DIFFERENT FOOTER COLORS*/
/*DIFFERENT FOOTER COLORS*/
.footer-color.happy{
    background: linear-gradient(360deg, #FFE55F 0%, rgba(242, 242, 242, 0.00) 100%);
}

.footer-color.lucky {
    background: linear-gradient(360deg, #45EF6A 0%, rgba(69, 239, 106, 0) 100%);
}
  
.footer-color.calm {
    background: linear-gradient(360deg, #45E5EF 0%, rgba(69, 229, 239, 0) 100%);
}
  
.footer-color.cool {
    background: linear-gradient(360deg, #C67EDF 0%, rgba(198, 126, 223, 0) 100%)
}
.footer-color.romantic{
    background: linear-gradient(360deg, #EF45A1 0%, rgba(242, 242, 242, 0.00) 100%);
}

/*selector phone number in footer section*/
body > footer > div.address > p.ABCORACLExlg{
    margin-top:17px;
}

/*selector for "EMAIL" in the footer*/
body > footer > div.mailing-list > p.ABCAsfaltTrial-Regular{
    margin: 0;
    margin-top: 35px;
}

/*selector for dates in footer*/
body > footer > div.date > p:nth-child(1), body > footer > div.date > p:nth-child(2){
    margin-bottom: 19px;
}

/*footer buttons*/
body > footer > div.change-mood > button.popup-happy, button.popup-lucky, button.popup-calm, button.popup-cool, button.popup-romantic{
    margin: 0px;
    margin-bottom: 10px;
}

/*  "change my mood:"  */
body > footer > div.change-mood > p{
    margin-bottom: 10px;
}

/* footer page navigation */
body > footer > div.footer-nav > p:nth-child(n) > a{
    color: black !important;
    padding: 0px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    line-height: 27px;
    height: 28px;
    margin-right: 3px;
    background: transparent;
}
/* footer page navigation hover effect */
body > footer > div.footer-nav > p:nth-child(n) > a:hover{
    border-radius: 20px;
    border: 1px solid black;
}
/* home button margins*/
body > footer > div.footer-nav > p:nth-child(1){
    margin: 0px;
    margin-top: 13px;
    margin-bottom: -5px;
}
/* all other  button margins*/
body > footer > div.footer-nav > p:not(:first-child) {
  margin-bottom: -5px;
}

/*DRINK MENU*/
/*DRINK MENU*/
/*DRINK MENU*/

.drink-icon{
    display: flex;
    justify-content: center;
    margin-top: -225px;
    z-index: 0;
}

body > div > div.drink-text-left > h1, body > div > div.drink-text-right > h1 {
    margin-top: 30px;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-family: "CivilitateTrialV0.2-Hairline";
}

.drinks-menu{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    line-height: 0;
}

body > div.drinks-menu > div.menu-row-two > p.ABCORACLElg{
    margin-top: 47px;
}

body > div.drinks-menu > div.menu-row-two > span{
   margin-top: 100px;
}

.home-tagline-bold-cocktails{
        margin-top: 50px;
        margin-bottom: 100px;
}

/* GEMINI SPECIAL */
.home-tagline-bold-special{
    margin-bottom: 100px;
    margin-top: 70px;
}

/*svg for gemini and hands symbol on drinks page*/
.gemini, .hands{
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.gemini{
    margin-top: 95px;
}

body > div.drinks-menu > div.menu-row-two > p.ABCORACLElg{
    width: 350px;
}

.menu-middle{
    width: 335px;
}


.menu-row-one, .menu-row-two, .menu-row-three{
    justify-content: center;
    display: flex;
    flex-direction: row;
    line-height: 0;
    margin: 0px;
    padding: 0px;
    margin-bottom: -135px;
}

.menu-bottom{
    margin-left: -20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.menu-right{
    padding-left: 20px;
    flex-direction: column;
}

/*names of drinks on under "cocktails" in menu*/
body > div.drinks-menu > div.menu-bottom > div.menu-left > p:nth-child(n){
    text-align:  right;
    justify-content: end;
    line-height: 0;
    padding-top: 0px;
}

body > div.drinks-menu > div.menu-bottom > div.menu-middle > p:nth-child(n){
    margin-top: -0px;
    margin-bottom: 50px;
}

body > div.drinks-menu > div.menu-bottom > div.menu-middle > p:nth-child(1){
    margin-top: -0px;
    margin-bottom: 70px;
}

/*margins for the thirteens*/
.thirteen-drinks{
    font-family: "ABCOraclePlusVariable-Trial";
    margin-right: 0;
}

body > div.drinks-menu > div.menu-bottom > div.menu-right > p:nth-child(n){
    margin-top: -0px;
    margin-bottom: 90px;
}
body > div.drinks-menu > div.menu-bottom > div.menu-right > p:nth-child(1){
    margin-top: 60px;
    margin-bottom: 90px;
}
body > div.drinks-menu > div.menu-bottom > div.menu-right > p:nth-child(3){
    margin-bottom: 90px;
}

.menu-divider{
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "ABCOraclePlusVariable-Trial";
}

.menu-options{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.menu-options-left, .menu-options-right{
    flex-direction: column;
}

.menu-options-left{
    padding-right: 100px;
}

.moon, .heart{
    font-family: 'ABCOraclePlusVariable-Trial';
    font-size: 50.435px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span.moon {
    padding-right: 10px;
}

.heart{
    transform: rotate(-90deg);
}

/* Cans and bottles, wiiiiiine*/
body > div.menu-options > div.menu-options-left > p.home-tagline-bold, body > div.menu-options > div.menu-options-right > p.home-tagline-bold{
    margin: 0;
}


.seven {
    font-size: 22px;
    margin: 0;
    display: block;
    padding-bottom: px !important;
    margin-top: -17px;
}

/* IMAGES ON THE MENU PAGES, CHERRIES AND ANGELS */
.cherry-left, .cherry-right{
    width: 190.534px;
    height: 170.419px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    margin-top: 0px;
}
.cherry-left{
    left: 5vw;
}

.cherry-right{
    right: 5vw;
}

.angel-left , .angel-right{
    padding-left: 50px;
    padding-right: 50px;
    mix-blend-mode: multiply;
    position: absolute;
    margin-top: 160px;
}

.angel-left{
    left:0vw;
}

.angel-right{
    right: 0vw;
}

/* ABOUT PAGE */
/* ABOUT PAGE */
/* ABOUT PAGE */
.about-section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -170px;
    flex-direction: column;
}

.about-section-one-top, .about-section-one-bottom{
    display: flex;
}

/*  we are moodring!! */
body > div > div.about-section-one-top > p{
    text-align: left;
    margin-top: 180px;
    padding-left: 51px;
}

/*FULL BAR SERVICE, OPEN DAILY...*/
body > div > div.about-section-one-bottom > p{
    text-align: left !important;
    padding-top: 208px;
    padding-right: 150px;
    margin-right: 0px;
}

.about-section-one-bottom{
    margin-top: -178px;
    margin-right: 385px;
}

.about-girl-img{
    width: 495px;
    height: 613px;
    flex-shrink: 0;
    float: left;
    mix-blend-mode: multiply;
}

.about-guy-img{
    mix-blend-mode: multiply;
    width: 463px;
    height: 572px;
    flex-shrink: 0;
}

.about-section-two{
    display: flex;
    right: 0;   
    justify-content: right;
    margin-top: -70px;
    margin-right: 00px;
    text-align: left;
}

.about-eyes-img{
    width: 362px;
    height: 572px;
    flex-shrink: 0;
}

.about-section-two-left{
    text-align: left;
    margin-top: 300px;
    justify-content: left !important;
    margin-right: -130px;
    z-index: 10;
}

.number-section{
    display: flex;
    margin-top: 150px;
}

/* email in the about section*/
body > div.about-section-two > div.about-section-two-left > p.home-tagline-bold{
    margin-top: 120px;
    line-height:0px;
    text-align: left;
}

/*⑨①⑦ ⑧①⑧ ①⑦③⑧*/
body > div.about-section-two > div.about-section-two-left > div > p.ABCORACLExlg{
    line-height: 0;
    margin: 0;
    margin-top: -90px;
    margin-left: 10px;
}

.about-section-three{
    margin-top: -250px;
    display: flex;
    justify-content: left;
}

.about-lights-img{
    width: 387px;
    height: 570px;
    mix-blend-mode: multiply;
}

.about-section-three-right{
    flex-direction: column;
    margin-left: 43px;
    margin-top: 100px;
}

/* 1260 myrtle ave */
body > div.about-section-three > div.about-section-three-right > p.home-tagline-bold{
 text-align: left;
}

/* Steps from the Central Ave M Subway <br>
                10min walk from the Myrtle-Broadway JMZ <br>
                15min walk from Dekalb Ave L*/
                body > div.about-section-three > div.about-section-three-right > p.home-tagline{
                    text-align: left;
                }

.about-section-four{
    margin-top: -150px;
    margin-bottom: 130px;
    display: flex;
    justify-content: right;
    margin-right: 40px;
}

.about-washedout-img{
        width: 541px;
    height: 665.164px;
}

.about-section-four-left{
    margin-right: 160px;
}

/*select press and our patreon*/
body > div.about-section-four > div.about-section-four-left > p:nth-child(1) , body > div.about-section-four > div.about-section-four-left > p:nth-child(3){
    text-align: left;
}

/*margin between select press block of text and our patreon section*/
body > div.about-section-four > div.about-section-four-left > p:nth-child(3){
    margin-top: 170px;
}

/* magazine names and promo */
body > div.about-section-four > div.about-section-four-left > p:nth-child(2), body > div.about-section-four > div.about-section-four-left > p:nth-child(4){
    text-align: left;
}

/* ---------- EVENTS PAGE ---------*/
/* ---------- EVENTS PAGE ---------*/

/* JUNE 2023*/
.home-tagline-bold-events{
    margin-top: -30px;
    line-height: 0px;
    margin-bottom: -30px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 3fr);
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    margin-bottom: 130px;
  }
  
  @media (min-width: 1700px) {
    .calendar {
      grid-template-columns: (7, 1fr);
    }
  }
  
  @media (min-width: 820px) and (max-width: 1699px) {
    .calendar {
      grid-template-columns: repeat(4, 1fr);
      width: 880px;
      margin-top: 100px;
    }
    .calendar > div{
        width: 181px;
    }
    body > div.calendar > p:nth-child(n){
        display: none;
    }
    .calendar-blank{
        display: none;
    }
}
  
  @media (max-width: 819px) {
    .calendar {
      grid-template-columns: repeat(2, 1fr);
      width: 410px;
      margin-top: 100px;
    }

    .calendar > div {
        width: 166px;
      }

    body > div.calendar > p:nth-child(n){
        display: none;
    }
      .calendar-blank{
        display: none;
    }
  }

/*S M T W T F S*/
body > div.calendar > p:nth-child(n){
    text-align: left;
    margin: 0;
    margin-top: 80px;
}
  
.calendar > div {
    text-align: left;
    width: 170px;
    height: 227px;
    border: 1px solid black;
    padding: 15px;
    margin: 4.5px;
    background-color: ;
    overflow: hidden
}

/* blank calendar cells only used in desktop mode */
.calendar-blank{
    background-color: transparent !important;
    border: transparent !important;
}

.ABCORACLExlg-cal{
    text-align: right !important;
    margin-top: 0;
    color: black;
    z-index: 10;
}

.calendar-moons-circle{
    width: 147px;
    height: 240px;
    stroke: black;
    margin-top: -50px;
    flex-shrink: 0;
    margin-left: 13px;
}

.calendar-moons-half{
    margin-left: 50px;
    stroke-width: 1.5px;
}

.calendar-moons{
    stroke-width: 1.5px;
    stroke: black;
    width: 133px;
    height: 240px;
    margin-top: -50px;
    flex-shrink: 0;
    margin-left: 22px;
    display: none;
}

/* DATES */
body > div.calendar > div:nth-child(n) > p.ABCORACLExlg-cal{
    color: black;
}
/* EVENT NAME AND INFO */
body > div.calendar > div:nth-child(n) > p.ABCORACLElg{
    color: black;
}

.calendar > div:hover {
    background-color: #000 !important;
    .calendar-moons, .calendar-moons-circle{
        display: block;
        z-index: 1;
    }
    .ABCORACLExlg-cal {
        color: white !important;
        z-index: 10;
    }
}

body > div.center-tagline2 > div > p.ABCORACLElg{
    text-align: left;
}

@media (max-width:1500px){
    .page-title{
        font-size: 100px;
        margin-bottom: 100px;
    }
    .footer-color{
        margin-top: -780px;
        padding-top: 0px;
    }

    .page-footer{
        font-size: 75px;
    }

}

@media (max-width:700px){
    .footer-color{
        margin-top: -730px;
        padding-top: 0px;
    }
    .page-footer{
        margin-top: -70px;
    }

    footer{
        margin-bottom: -80px;
    }
}

@media (max-width:800px){
    .page-title{
        font-size: 80px;
        margin-top: -90px;
        margin-bottom: 150px;
        line-height: 90px;
    }
    .nav-item{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-item:first-child{
        padding-right: 0px;
    }
}

/* GIF SECTION */
@media (max-width:1450px){
    .gifs{
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .gif1{
        width: 280px;
        height: 50px;
        margin-right: 5px;
    }
    .gif2{
        width: 304px;
        height: 50px;
        margin-right: 5px;}
    .gif3{
        width: 179px;
        height: 50px;
        margin-right: 0px;}
    .gif4{
        width: 283px;
        height: 60px;
        margin-right: 5px;}
    .gif5{
        width: 485px;
        height: 60px;
        margin-right: 0px;}
    .gif1, .gif2, .gif3, .gif4, .gif5{  
        margin-bottom: 5px;
        padding: 0px;
    }
}

@media (max-width: 800px) {
    .gifs {
      flex-wrap:wrap;
      width: 360px;
    }
    
    .gif1{
        width: 168px;
        height: 29px;
        margin-right: 1px;
        margin-bottom: 1px;
    }
    .gif2{
        width: 181px;
        height: 29px;
        margin-right: 0px;
        margin-bottom: 1px;}
    .gif3{
        width: 149.739px;
        height: 42px;
        margin-right: 1px;
        margin-bottom: 1px;
    }
    .gif4{
        width: 198.83px;
        height: 42px;
        margin-bottom: 1px;
        margin-right: 0px;
    }
    .gif5{
        width: 350px;
        height: 43px;
        margin-right: 0px;
        margin: 0px;}
}

/* Home page mobile styling */
/* Home page mobile styling */
.event-more-mobile{
    display: none;
}
@media (max-width: 1250px) {
    .home-tagline-bold, .home-tagline-bold2, .name ,.email ,.send{
        font-size: 75px;
        margin-top: 0px;
    }

    /* CELEBRATE PRIDE WITH US */
    .center-tagline{
        margin-top: 130px;
    }
    .home-tagline{
        font-size: 14px;
    }
    .ABCORACLEsm{
        font-size: 11px;
    }

    .event-list{
        margin: 0px;
        padding: 0px;
        width:800px
    }
    .moons{
        height: 159px;
        margin-right: 0px;
        margin: 0px;
        padding: 0px !important;
    }
    .event-more{
        display: none;
    }

    .event-more-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .home-tagline-bold2{
        margin-top: 50px;
    }

    .ABCORACLElg, .ABCORACLExlg{
        font-size: 14px;
    }

    .bjork{
        width: 279px;
        height: 320px;
        margin-bottom: -20px;
    }

    /* LETS GET IN TOUCH */
    body > div.form-copy > p.home-tagline-bold2{
        margin-top: 80px;
        margin-bottom: 20px !important;
    }
    body > div.form-copy > p.ABCORACLElg{
        margin-bottom: 58px;
    }
    .ABCORACLExl{
        font-size: 20px;
    }
    body > div.form-copy > div > p.ABCORACLExlg{
        padding-top: 70px !important;
    }

    .contact-form{
        width: 488px;
        margin-top: 40px;
    }

    .address, .mailing-list, .date, .change-mood{
        margin-right: 25px;
    }

    body > footer > div.change-mood > button.popup-happy, body > footer > div.change-mood > button.popup-lucky, body > footer > div.change-mood > button.popup-calm, body > footer > div.change-mood > button.popup-cool, body > footer > div.change-mood > button.popup-romantic {
        font-size: 14px;
        margin-bottom: 10px !important;
    }
    /* 917 818 1738 */
    body > footer > div.address > p.ABCORACLExlg{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* -------------- */
    body > footer > div.mailing-list > p.ABCORACLExlg{
        margin-top: 30px;
    }
}


/* FOOTER FOR MOBILE */
.mailing-list-mobile, .footer-nav-mobile, .change-mood-mobile{
    display: none;
}
.home-tagline-bold-mobile, .ABCORACLElg-mobile{
    display: none;
}

@media (max-width: 800px) {
    .header-menu{
        margin-left: -65px;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
    }
    body > header > div:nth-child(1), body > header > div:nth-child(2){
        width: 100px;

    }
    .mailing-list{
        display: none;
    }

    .home-tagline-bold, .home-tagline-bold-mobile{
        font-size: 60px;
    }

    .event-list{
        width: 300px !important;
        display: flex;
        flex-wrap: wrap;
    }

    .event2{
        margin-right: 5px;
    }
    .event4{
        margin-left: 15px;
    }
    /* middle circular moon */
    body > div.event-list > div.event3 > svg{
        width: 208px;
        height: 203px;
    }

    .event3{
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 120px;
        margin-bottom: 130px;
    }

    .moons{
        width: 170px;
        height: 203px;
    }

    .thirteen, .seven{
        margin-right: -250px;
        font-size: 18px;
    }

    .home-drink{
        padding-left: 0px;
        padding-right: 40px;
        flex-direction: row;
        margin-bottom: -70px;
    }
    body > div.center-tagline2 > p{
        margin-bottom: -50px;
    }

    /* dumb bitch juice MOBILE*/
    .home-tagline-bold-mobile{
        display: block;
        text-align: right;
        width: 100px;
        margin-top: -400px;
    }

    .ABCORACLElg-mobile{
        display: block;
        text-align: left;
        margin-top: -50px;
    }
    /* dumb bitch juice */
    body > div.center-tagline2 > div > p.home-tagline-bold, body > div.center-tagline2 > div > p.ABCORACLElg{
        display: none;
    }

    .bjork{
        width: 241.586px;
        height: 278.065px;
    }

    .form-copy{
        padding-left: 50px;
        padding-right: 50px;
    }

    .form-contact-info{
        flex-direction: column;
        padding-top: 50px;
    }

    .contact-form{
        margin-top: 10px;
        width: 350px;
    }

    body > div.form-copy > div > p.ABCORACLExlg{
        font-size: 24px;
    }

    .event5, .event4{
        margin-bottom: 30px;
    }

    .mailing-list-mobile{
        display: block;
        width: 295px;
        margin-right: auto;
        margin-left: auto;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mailing-list, .footer-nav, .change-mood{
        display: none;
    }
    .mailing-list-mobile, .footer-nav-mobile, .change-mood-mobile{
        display: block;
    }

    body > footer > div.mailing-list-mobile > p.ABCAsfaltTrial-Regular{
        line-height: 50px;
        margin: 0px;
        margin-top: 30px;
    }
    
     .date, .change-mood-mobile{
        width:150px;
        margin-right: 0px;
    }

    .footer-nav-mobile, .change-mood-mobile, .address, .date{
        width: 150px;
    }

    .footer-nav-mobile, .address{
        margin-left: 20px;
    }

    .address, .footer-nav-mobile{
        margin-right: 35px;
    }

    .change-mood-mobile{
        display: flex;
        flex-direction: column;
    }

    .page-footer{
        font-size: 60px !important;
        line-height: 90px;
    }

    .footer-color{
        margin-top: -770px;
        padding-top: 0px;
    }

    /* IMPORTANT FOR FONT IN MOBILE */
    body > footer > div.change-mood-mobile > button.popup-happy, body > footer > div.change-mood-mobile > button.popup-lucky, body > footer > div.change-mood-mobile > button.popup-calm, body > footer > div.change-mood-mobile > button.popup-cool, body > footer > div.change-mood-mobile > button.popup-romantic , .menu-divider{
        font-size: 14px;
        margin-bottom: 10px;
        font-family: ABC Oracle Plus Variable Unlicensed Trial !important;
    }

    /* CALENDAR MOBILE */
    /* CALENDAR MOBILE */
    .calendar > div {
        width: 146px;
        height: 227px;
        margin-bottom: 6px;
        margin-left: 7px;
    }
    .calendar{
        width: 380px;
        margin-left: auto;
        margin-right: auto;
    }

    /* DRINK MENU MOBILE */
    /* DRINK MENU MOBILE */
    .drink-icon{
        margin-top: -180px;
        margin-left: 10px;
    }
    .drink-image{
        width: 274px;
        height: 271px;
    }
    body > div.drink-icon > div.drink-text-left > h1, body > div.drink-icon > div.drink-text-right > h1{
        font-size: 25px;
        margin-top: 0px;
    }

    .drinks-menu{
        margin-left: auto;
        margin-right: auto;
        margin-top: -40px;
        width: 320px;
    }
    .gemini{
        width: 21px;
        height: 26px;
    }

    .home-tagline-bold-special, .home-tagline-bold-cocktails{
        font-size: 60px;
        margin-top: 78px;
    }

    body > div.drinks-menu > div.menu-row-two > p.home-tagline-bold{
        text-align: right;
        
    }
    body > div.drinks-menu > div.menu-row-two > p.ABCORACLElg{
        width: 240px !important;
        margin-top: 43px;
    }
    .menu-row-three{
        margin-top: 240px;
    }
    .cherry-left{
        margin-top: -155px;
        left: 18%;
    }
    .hands{
        width: 28px;
        height: 34px;
    }

    .home-tagline-bold-cocktails{
        margin-top: 57px;
    }
    body > div.drinks-menu > div.menu-bottom > div.menu-left > p:nth-child(n){
        line-height: 50px;
    }
    /* days of being wild*/
    body > div.drinks-menu > div.menu-bottom > div.menu-left > p:nth-child(1){
        margin-top: 5px !important;
    }
    /*margin for drink names on the left*/
    body > div.drinks-menu > div.menu-bottom > div.menu-left > p:nth-child(n){
        margin-bottom: -18px !important;
    }

    body > div.drinks-menu > div.menu-bottom > div.menu-middle > p:nth-child(n){
        line-height: 17px;
    }

    body > div.drinks-menu > div.menu-bottom > div.menu-middle > p:nth-child(1){
        margin-bottom: 90px !important;
    }
    body > div.drinks-menu > div.menu-bottom > div.menu-middle > p:nth-child(2){
        margin-bottom: 20px;
    }
    body > div.drinks-menu > div.menu-bottom > div.menu-middle > p:nth-child(3){
        margin-bottom: 23px;
    }
    body > div.drinks-menu > div.menu-bottom > div.menu-middle > p:nth-child(4){
        margin-bottom: 70px;
    }

    .cherry-right{
        margin-top: 260px;
        margin-right: 30px;
    }
    
    .menu-left{
        width: 157px;
    }
    .menu-middle{
        width: 180px;
    }
    .menu-right{
        position: absolute;
        margin-left: 290px;
        margin-top: 30px;
    }
    .menu-bottom{
        margin-left: -15px !important;
        margin-bottom: 160px;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu-options{
        margin-bottom: 200px;
        margin-left: -20px;
    }

    .menu-options-left{
        padding-right: 15px;
    }

    body > div.menu-options > div.menu-options-left > p.ABCORACLElg{
        margin-left: 35px;
        margin-top: 30px;
    }
    body > div.menu-options > div.menu-options-right > p.ABCORACLElg{
        margin-top: 30px;
        margin-left: 25px;
    }
    .angel-left, .angel-right{
        margin-top: 330px;
        width: 175.573px;
        height: 195.022px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .angel-left{
        right: 90vw;
    }
    .angel-right{
        left: 56vw;
    }

    body > div.menu-options > div.menu-options-right > p.home-tagline-bold, body > div.menu-options > div.menu-options-left > p.home-tagline-bold{
        display: flex;
        flex-direction: row;
    }
    .moon{
        font-size: 35px;
        margin-top: 5px;
        margin-right: 5px;
    }
    .heart{
        display: block;
        font-size: 30px;
        transform: rotate(-90deg) !important;
    }
}

body > div.calendar > div:nth-child(15) > p.ABCORACLElg{
    margin-top: -195px;
}

